*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* END CSS RESET */

:root {
	--sidebar-width: 500px;
}

@font-face {
	font-family: "WDXL";
	src: url("./assets/WDXL-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	min-height: 100vh;
	font-family: system-ui, -apple-system, sans-serif;
	overflow: clip;
}

#main {
	flex: 1;
	background-color: #0f131a;
}

#sidebar {
	flex-shrink: 0;
	background-color: #1c212c;
	width: var(--sidebar-width);
	height: 100vh;
	transition: width 0.125s ease;
	overflow: hidden;
}

#sidebar h2 {
	font-family: "WDXL", system-ui, -apple-system, sans-serif;
	font-size: 1.45rem;
	width: fit-content;
	padding-top: 10px;
	padding-left: 20px;
	color: #bfbdb6;
}

.button-sidebar {
	position: absolute;
	z-index: 2;
	color: #bfbdb6;
	background: transparent;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	top: 10px;
	left: calc(var(--sidebar-width) - 45px);
	transition: left 0.25s ease;
}

.button-sidebar svg {
	width: 25px;
	height: 25px;
}

.button-sidebar:hover {
	background: rgba(255, 255, 255, 0.15);
}

.button-sidebar:active {
	transform: scale(0.9);
}

#sidebar[data-sidebar="hide"] ~ .button-sidebar {
	left: 10px;
}

#sidebar[data-sidebar="hide"] {
	width: 0;
}

li {
	display: flex;
	align-items: center;
	list-style: none;
	color: #bfbdb6;
	gap: 8px;
}

#sidebar li svg {
	width: 25px;
	height: 25px;
}
