*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* END CSS RESET */

:root {
  --sidebar-width: 33%;
}

@font-face {
  font-family: "VT323Local";
  src: url(./assets/fonts/VT323.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "VT323Local", system-ui, -apple-system, sans-serif;
  overflow: clip;
}

#container-image {
  clip-path: inset(0 0 0 var(--sidebar-width));
}
